.appHeader {
  display: flex;
  min-height: 7ch;
  gap: .5ch;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  p {
    text-align: end;
  }
}
.app {
  text-align: left;
  box-shadow: 1ch 1ch 0 0 var(--theme-border-subdued);
  section {
    padding: 1ch;
  }
}
.appButtons {
  display: flex;
  gap: .5ch;
  justify-content: start;
}

.appInfo{
  padding-top: .5ch;
  display: flex;
  flex-direction: column;
  fill: var(--theme-text);
}

.actionButton {
  background-color: unset !important;
}
.appTags {
  gap: 1ch;
  justify-content: end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  span{
    transition: unset;
  }
}

  

.root{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25ch;
  width: 100%;
  align-self: center;
  @media (min-width: 768px) {
    max-width: 50ch;
  }
  
}
.footer {
  padding: 1ch;
  display: grid;
  align-self: end;
}
