.hotkey {
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 400;
  text-indent: 0ch;
  user-select: none;
}

.icon {
  display: flex;
  height: 2.1ch;
  filter: invert(1) grayscale(1) brightness(0.5);
}

.content {
  box-shadow: inset 0 0 0 2px var(--theme-button-foreground);
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 400;
  padding: 0 1ch 0 1ch;
  text-indent: 0ch;
  text-transform: uppercase;
  user-select: none;
}

.root {
  background-color: var(--theme-button-background);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  outline: 0;
  border: 0;
  margin: 0;
  gap: .25ch;
  padding: .3ch;
  box-sizing: border-box;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  flex-shrink: 0;

  &:hover {
    background: var(--theme-focused-foreground);
  }

  &:hover .content {
    box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
  }

  &:focus .hotkey {
    background: var(--theme-focused-foreground);
  }

  &:focus .content {
    box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
  }
}

.selected {
  .hotkey {
    background: var(--theme-focused-foreground);
  }
  .content {
    box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
  }
}
