.root {
  display: block;
  background: var(--theme-border);
  box-shadow: 1ch 1ch 0 0 var(--theme-border-subdued);
  // padding: calc(var(--font-size) * var(--theme-line-height-base)) 1ch calc(var(--font-size) * var(--theme-line-height-base)) 1ch;
  padding: 1ch;
  font-weight: 400;
  
  


  &:focus  {
    box-shadow: 1ch 1ch 0 0 var(--theme-focused-foreground-subdued);
  }
}

button {
  width: 100%;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

.onClick {
  cursor: pointer;
}
.hover{
 &:hover {
    box-shadow: 1ch 1ch 0 0 var(--theme-focused-foreground-subdued);
  } 
}

.selected {
  
  box-shadow: 1ch 1ch 0 0 var(--theme-focused-foreground) !important;
}
