.root{
  display: flex;
  flex-direction: column;
  gap: 1ch;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 668px) {
    padding:0  2ch;
    align-items: flex-end;
    //max-height: calc(100vh - 40ch);
    max-width: 50ch;
  }
  @media (min-width: 668px) {
    width: 50ch;
  }
}

.playing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
}
.nowplaying {
  min-width: 6.5ch;
  align-items: center;
  color: var(--theme-text);
  fill: var(--theme-text);
  display: flex;
  flex-direction: row;
  gap: 1ch;
  
}
#game {
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
#time {
  min-width: 7ch;
  color: var(--theme-text-secondary);
  font-size: 0.8em;
}
.ascii {
  position: absolute;
  display: block;
  width: 70ch;
  bottom: 2ch;
  height: 10ch;
}

.desc {
  display: grid;
  gap: 1ch;
  margin: 0 auto;
  width: 100%;
  min-width: 29ch;
  
}

.game {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.time {
  color: var(--theme-text-secondary);
  font-size: 0.8em;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  
  @media (max-width: 668px) {
    display: none;
  }
  @media (max-width: 768px) {
    div {
    background-color: var(--theme-button-background);
    }
  }
}

.icons{
  display: flex;
  flex-direction: row;
  gap: 1ch;
  max-width: 7ch;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  
  @media (min-width: 668px) {
    display: none;
  }
}

.desktop {
  @media (max-width: 668px) {
    display: none;
  }
}

.mobile {
  @media (min-width: 668px) {
    display: none;
  }
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  overflow-Y: auto;
  @media (max-width: 768px) {
    align-items: flex-start;
    max-height: calc(100vh - 40ch);
  }
}

.footer {
  display: grid;
  justify-content: end;
}
