.form {
  padding: 2ch;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  width: 100%;
  background-color: var(--theme-background-input );
}

.root {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  width: 100%;
  @media (min-width: 768px) {
    max-width: 50ch;
  }
}


.from {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1ch;
  width: 100%;
}

.loader {
  display: flex;
  width: 100%;
  min-height: 30ch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
}

.footer {
align-self: flex-end;
}
