.root{
  display: flex;
  padding: 1ch;
  cursor: pointer;
  height: 5ch;
  width: fit-content;
  
  transition: all 0.3s ease-in-out;
  transform: scale(1);
    &:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.5);
    }
  @media (max-width: 768px) {
    justify-content: center !important;
    align-self: center !important;
  }
}

