.root{
  display: flex;
  padding: 1ch 2ch;
  height: 5ch;
  margin-top: 1ch;
  width: 100%;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  
 
  @media (max-width: 768px) {
    justify-content: center !important;
    align-self: center !important;
  }
}

.text {
  cursor: pointer;
  width: fit-content;
   transition: all 0.3s ease-in-out;
  transform: scale(1);
    &:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.5);
    }
  
}
