.root{
  display: flex;
  flex-direction: row;
  padding: 1.5ch 2.5ch;
  gap: 3ch;
  width: 100%;
  height: 5ch;
  margin: 0 auto;
  justify-content: space-between;
  
  align-items: flex-start;
  @media (max-width: 768px) {
    padding: 1ch 0;
    justify-content: center;
    align-items: center !important;
  }
}

.title{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 11px;
  font-weight: var(--theme-font-weight-bold);
  color: var(--theme-text);
  cursor: pointer;
  z-index: 100;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  display: inline-block;
  min-width: 1ch;
  background: var(--theme-text);
  height: .2ch;
  vertical-align: bottom;
}

.mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
