.root {
  display: flex;
  padding: 0 1ch;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 2ch;
  @media (min-width: 768px) {
    flex-direction: column;
    flex-direction: row !important;
  }
  
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  padding: 1ch 0;
  width: 100%;
  justify-content: flex-start;
  height: 100%;
  @media (min-width: 768px) {
    align-items: center;
    min-width: 50ch;
  }
}

.buttons {
  margin-top: 1ch;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1ch;
  justify-content: center;
  height: 100%;
  
}

.footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  @media (min-width: 768px) {
    align-items: center;
    max-width: 50ch;
  }
}
