.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2ch;
  width: 100%;
  height: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2ch;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 50%;
  font-size: 2.2ch;
}

.default {
  color: lightgray;
}

.active {
  color: var(--theme-text-secondary);
}



@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  display: inline-block;
  min-width: 1ch;
  background: var(--theme-text);
  height: calc(var(--font-size) * var(--theme-line-height-base));
  vertical-align: bottom;

}

.mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.peep{
  margin-left: 14.5ch;
}

.quote {
  font-size: calc(var(--font-size)*.9);
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .2em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(8, end),
}

.raven {
  color: var(--theme-focused-foreground);
}


/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  50% { width: 73%,  }
  70% { width: 73% }
  100% { width: 100% }
}
