.root {
  display: flex;
  position: relative;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  gap: 2ch;
}

.mini {
  display: flex;
  max-width: fit-content;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1ch;
}
